:host,
.app-shell-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
:host p-toolbar.app-shell-toolbar ::ng-deep div.p-toolbar{
  border-radius: unset;
}
.toolbar-button:first-child{
  margin-right: 8px;
}
